<% @title = "Uygulama Programlama Arayüzü (API)" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <dl>
    <dt>Giriş</dt>
    <dd>
      <p>
        Bu sayfada programcıların  bir “API” aracılığıyla başka websiteleri ve
        yazılımı 4982* ile etkileşim haline nasıl sokabileceği açıklanmıştır.
      </p>

      <p>
        4982* için henüz tam anlamıyla bir API bulunmamaktadır. Ancak yavaş
        yavaş kullanım açısından API’a benzeyen birçok uygulama ekliyoruz
      </p>
    </dd>

    <dt>Yeni başvurulara bağlantı vermek</dt>
    <dd>
      <p>
        Çok sayıda kullanıcının belli bir kamu kuruluşuna başvuru yapmasını
        desteklemek için, şu formdaki URL’leri kullanın
        <%= link_to new_request_to_body_path(:url_name => "btk"),
                    new_request_to_body_path(:url_name => "btk") %>.
        Aşağıda bu URL’lere ekleyebileceğiniz parametreleri bulabilirsiniz.
      </p>

      <ul>
        <li> <strong>title</strong> - yeni başvurunun varsayılan özeti.</li>
        <li> <strong>default_letter</strong> - mektupta kullanılan metindeki varsayılan metin seçeneği. “Sayın” ve “Saygılar” başlangıç ve bitiriş satırları bunun çevresinde yer almaktadır.</li>
        <li> <strong>body</strong> - default_letter parametresine alternatif olarak, başvurunun tüm metnini belirler. Böylece giriş ve bitiriş satırlarını özelleştirebilirsiniz.</li>
        <li> <strong>tags</strong> - etiketlerin boşlukla ayrılmış bir listesi. Böylece daha sonra yapılan başvuruları da bulup bağlantı verebilirsiniz.</li>
      </ul>
    </dd>

    <dt>RRSS (Atom) feed’leri</dt>
    <dd>
      <p>Bilgi edinme başvurularını listeleyen çoğu sayfada ATOM feed’leri
        bulunmaktadır. Bunları kullanarak XML formatında güncellemeler ve
        bağlantılar alabilirsiniz Atom feed URL’ini bulmak için:

        <ul>
          <li>RSS feed bağlantılarını arayın <%= image_tag "feed-16.png", :alt => "RSS icon" %>.</li>
          <li>HTML’in baş kısmındaki <code>&lt;link rel="alternate" type="application/atom+xml"&gt;</code> etiketini inceleyin.</li>
          <li>Başka bir URL’nin başına <code>/feed</code> ekleyin.</li>
        </ul>
      </p>

      <p>
        Karmaşık sorgularda bile Atom feed’leri bulunmaktadır. Bunları
        kullanarak kuruma, dosya biçimine, yanıt durumuna veya tarih aralığına
        göre arama yapabilirsiniz. Ayrıntılar için
        <a href="<%= advanced_search_path %>">gelişmiş arama önerilerine</a>
        bakın.
      </p>
    </dd>

    <dt>JSON formatında veri</dt>
    <dd>
      <p>
        Sitede birçok sayfanın JSON versiyonu bulunmaktadır. Bunları şöyle
        bulabilirsiniz:
      </p>
      <ul>
        <li>URL’nin sonuna <code>.json</code> ekleyin</li>
        <li>HTML’in Baş kısmında <code>&lt;link rel="alternate" type="application/json"&gt;</code>  etiketini arayın.</li>
      </ul>

      <p>
        Hem başvurular, hem de kullanıcılar ve kurumların temel bilgilerini
        içeren JSON versiyonları bulunmaktadır. Her Atom feed’inin, feed’deki
        olayların listesiyle ilgili bilgi içeren bir JSON eşleniği vardır.
      </p>
    </dd>

    <dt>Tüm kurumların elektronik tablosu</dt>
    <dd>
      <p>
        4982*’de bulunan tüm kurumların bir listesi şuradan indirilebilir:
        <%= link_to "all-authorities.csv", all_public_bodies_csv_path %>
      </p>

    </dd>
  </dl>

  <p>
    Henüz var olmayan bir API özelliğine ihtiyacınız varsa lütfen bizimle
    <a href="<%= help_contact_path %>">iletişime geçin.</a>
  </p>

  <div id="hash_link_padding"></div>
</div>

