<% @title = "Aldığınız yanıttan memnun değil misiniz?" %>

<% if !@info_request.nil? %>
  <h1><%= @title %>: '<%=request_link(@info_request) %>'</h1>
<% else %>
  <h1><%= @title %></h1>
<% end %>

<p>Eğer:</p>

<ul>
  <li>Başvurunuza 15 iş günü içinde yanıt alamadıysanız</li>
  <li>İstediğiniz bilgiyi tam alamadıysanız veya</li>
  <li>Başvurunuz geçerli bir yasal dayanak göstermeksizin reddedildiyse</li>
</ul>

<p>aşağıdaki yollara başvurabilirsiniz:</p>

<ol>
  <li>Söz konusu kamu kurumundan kurum için denetim isteyebilirsiniz</li>
  <li>Bilgi Edinme Değerlendirme Kurulu’na (BEDK) itirazınızı postayla yapabilirsiniz</li>
  <li>Başvurunuza yanıt almak için başka yöntemleri deneyebilirsiniz</li>
</ol>

<h1 id="internal_review">1. Kurum içi denetim istemek <a class="hover_a" href="#internal_review">#</a> </h1>

<p>
  <% if !@info_request.nil? %>
    <%= link_to "Request an internal review", new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> and then write a message asking the authority to review your request.
  <% else %>
    <%= site_name %> üzerinden yapmış olduğunuz başvurunun altında "kurum içi
    inceleme" seçeneğini doldurarak, başvurunuzla ilgili bir denetim
    isteyebilirsiniz. Bunu yaparken hangi başvurudan bahsettiğinizi açıkça
    belirtin. Kurum içi denetim, başvurunuzu ilgili kuruma hatırlatmaya yarar.
  <% end %>
</p>

<h1 id="complaining">2. BEDK'ya başvurmak <a class="hover_a" href="#complaining">#</a> </h1>

<p>
  Aldığınız cevaptan hâlâ memnun değilseniz, Bilgi Edinme Değerlendirme
  Kurulu’na (BEDK) posta yoluyla başvurabilirsiniz.
</p>

<p>
  Değerlendirme isteğinizle ilgili yazarken 4982* üzerinden yaptığınız
  başvurunun bir çıktısını alarak, BEDK’ya gönderdiğiniz başvuruya
  ekleyebilirsiniz.
</p>

<p>
  BEDK başvurunuzu 4982* üzerinden takip etme olanağı bulunmamaktadır.
  Gelişmelerle ilgili olarak başvurunuza site üzerinde not ekleyebilirsiniz.
  Bilgi edinme başvurularına yapılan itirazlarda bir sonraki adım idari yargıya
  başvurmak olmalıdır. Buradan sonuç almak iki üç yıl alabildiğinden,
  istediğiniz bilgiye ulaşmak için süreç işlerken farklı yöntemler
  kullanabilirsiniz.
</p>

<h1 id="other_means">3. İstediğiniz bilgiyi almak için başka yöntemler kullanmak <a class="hover_a" href="#other_means">#</a> </h1>

<p>Sorununuzu çözmek için aşağıdakileri deneyebilirsiniz.</p>

<ul>
  <li>
    <strong>Yeni bir bilgi edinme başvurusu</strong> yapıp özet bilgi, veya
    reddedilmiş başvurunuzda istediğiniz bilgiye doğrudan olmasa da ulaşmanızı
    sağlayacak başka bir bilgi isteyebilirsiniz. Burada sıkışırsanız,
    <a href="<%= help_contact_path %>">fikir alabilirsiniz.</a>
  </li>
  <li>
    Sorduğunuz konuyla ilgili olabilecek başka <strong>kamu kurumları</strong>
    veya kamuya ait şirket varsa, başvurunuzu onlara yapabilirsiniz.
  </li>
  <li>
    Konuyla ilgili olarak milletvekillerine yazabilirsiniz. Bölgenizden seçilen
    milletvekili, istediğiniz bilgiyi TBMM’de gündeme getirebilir.
  </li>
  <li>
    Konuyla ilgilenen <strong>diğer araştırmacılarla</strong> iletişime
    geçebilirsiniz. Bazen bu sitede aynı konuya ilgi duyan kişileri
    bulabilirsiniz.
  </li>
  <li>
    Kendi çevrenizde bir kampanya grubu oluşturup ilgili kamu kuruluşundan yüz
    yüze görüşmek için randevu isteyebilirsiniz.
  </li>
</ul>
